@media only screen and (max-width: 992px){
	.container{
		max-width: 992px;
	}

}

@media only screen and (max-width: 768px){
	
	
	.menu{
		display: block;
		position: relative;
		padding-left: 20px; 
		padding-bottom: 15px;
	}

	.navbar{
		width: 20%;
		position: absolute;
		display: none;
	
	}

	.navbar ul{
		display: block;
		
	}

	.navbar ul li {

		text-align: center;
		display: block;
	}

	.navbar ul li  a{
		display: block;
	}

	#toggle:checked + .navbar{
		display: block;
		position: absolute;
		right: 0;
		top: 96px;
 		background-color: #5a20b4;
 		/*height: 100vh;*/
 		/*width: 25px;*/
 	}



}

@media only screen and (max-width: 600px){
	
}

@media only screen and (max-width: 480px){
	
}

@media only screen and (max-width: 320px){
	
}