@media (max-width: 900px){

}

@media (max-width: 768px){
	.navbar ul{
		display: block;
	}

	.navbar ul li{
		display: block;
	}

	.navbar ul li:nth-child(9){
		display: block;
	}
}

@media (max-width: 600px){
	
}

@media (max-width: 480px){
	
}

@media (max-width: 320px){
	
}